body {
  text-align: center;
  margin: 0;
}

.drawing {
  border: 1px solid black;
  margin: 0 10px;
}

#controls {
  margin: 10px 0;
}

#drawings {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  background-color: #FEA434;
  border: 2px solid #FEA434;
  /* #46455F; */
  color: #ffffff;
  border-radius:10px;
  width: 200px
}

.MathJax {
font-size: 2.3em;
}
